<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvhlIgK9F1iZujRW1EDqU-4BWYXFmR9ZI</string>
	<key>GCM_SENDER_ID</key>
	<string>1084639454868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>enecik.KisilerUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>egitimx-929e3</string>
	<key>STORAGE_BUCKET</key>
	<string>egitimx-929e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084639454868:ios:9491d61b8e9bcb19d37681</string>
</dict>
</plist>